<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
<key>frames</key>
<dict>
<key>CommonIcons-0.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{55,55},{175,175}}</string>
</dict>

<key>CommonIcons-5.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{930,55},{175,175}}</string>
</dict>

<key>CommonIcons-10.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,55},{175,175}}</string>
</dict>

<key>CommonIcons-15.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,230},{175,175}}</string>
</dict>

<key>CommonIcons-20.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,405},{175,175}}</string>
</dict>

<key>CommonIcons-25.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,580},{175,175}}</string>
</dict>

<key>CommonIcons-30.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,755},{175,175}}</string>
</dict>

<key>CommonIcons-35.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,930},{175,175}}</string>
</dict>

<key>CommonIcons-40.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,1105},{175,175}}</string>
</dict>

<key>CommonIcons-1.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{230,55},{175,175}}</string>
</dict>

<key>CommonIcons-6.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,55},{175,175}}</string>
</dict>

<key>CommonIcons-11.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,230},{175,175}}</string>
</dict>

<key>CommonIcons-16.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,405},{175,175}}</string>
</dict>

<key>CommonIcons-21.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,580},{175,175}}</string>
</dict>

<key>CommonIcons-26.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,755},{175,175}}</string>
</dict>

<key>CommonIcons-31.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,930},{175,175}}</string>
</dict>

<key>CommonIcons-36.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,1105},{175,175}}</string>
</dict>

<key>CommonIcons-41.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,1280},{175,175}}</string>
</dict>

<key>CommonIcons-2.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{405,55},{175,175}}</string>
</dict>

<key>CommonIcons-7.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,55},{175,175}}</string>
</dict>

<key>CommonIcons-12.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,230},{175,175}}</string>
</dict>

<key>CommonIcons-17.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,405},{175,175}}</string>
</dict>

<key>CommonIcons-22.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,580},{175,175}}</string>
</dict>

<key>CommonIcons-27.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,755},{175,175}}</string>
</dict>

<key>CommonIcons-32.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,930},{175,175}}</string>
</dict>

<key>CommonIcons-37.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,1105},{175,175}}</string>
</dict>

<key>CommonIcons-42.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,1280},{175,175}}</string>
</dict>

<key>CommonIcons-3.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{580,55},{175,175}}</string>
</dict>

<key>CommonIcons-8.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,55},{175,175}}</string>
</dict>

<key>CommonIcons-13.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,230},{175,175}}</string>
</dict>

<key>CommonIcons-18.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,405},{175,175}}</string>
</dict>

<key>CommonIcons-23.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,580},{175,175}}</string>
</dict>

<key>CommonIcons-28.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,755},{175,175}}</string>
</dict>

<key>CommonIcons-33.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,930},{175,175}}</string>
</dict>

<key>CommonIcons-38.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,1105},{175,175}}</string>
</dict>

<key>CommonIcons-43.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,1280},{175,175}}</string>
</dict>

<key>CommonIcons-4.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{755,55},{175,175}}</string>
</dict>

<key>CommonIcons-9.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,55},{175,175}}</string>
</dict>

<key>CommonIcons-14.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,230},{175,175}}</string>
</dict>

<key>CommonIcons-19.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,405},{175,175}}</string>
</dict>

<key>CommonIcons-24.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,580},{175,175}}</string>
</dict>

<key>CommonIcons-29.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,755},{175,175}}</string>
</dict>

<key>CommonIcons-34.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,930},{175,175}}</string>
</dict>

<key>CommonIcons-39.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,1105},{175,175}}</string>
</dict>

<key>CommonIcons-44.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,1280},{175,175}}</string>
</dict>

<key>CommonIcons-45.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,1280},{175,175}}</string>
</dict>

<key>CommonIcons-46.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1105,1455},{175,175}}</string>
</dict>

<key>CommonIcons-47.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1280,1455},{175,175}}</string>
</dict>

<key>CommonIcons-48.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1455,1455},{175,175}}</string>
</dict>

<key>CommonIcons-49.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1630,1455},{175,175}}</string>
</dict>

<key>CommonIcons-50.png</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{175,175}</string>
<key>spriteSourceSize</key>
<string>{175,175}</string>
<key>textureRect</key>
<string>{{1805,1455},{175,175}}</string>
</dict>

</dict>

<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<true/>
<key>realTextureFileName</key>
<string>CommonIcons.png</string>
<key>textureFileName</key>
<string>CommonIcons.png</string>
<key>spriteSize</key>
<string>{1865,1513}</string>
</dict>


</dict>
</plist>